@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@300&family=Open+Sans&display=swap');

.cabecalho{
    height: 140px;
    width: auto;
    background-color: rgb(14, 228, 228);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    display: flex;
    position: relative;
    bottom: 85px;
    width: 150px;
    right: 550px;
    top:  1px;
}

.titulo{
    display: flex;
    position: relative;
    left: 110px;
}

.titulo-dois{
    display: flex;
    position: relative;
    top: 40px;
    right: 75px;
}

.bloco{
    display: flex;
    position: relative;
    left: 100px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}